{% extends 'przepustki/base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="card col-md-6 my-3 mx-auto text-white green darken-1">
            <div class="card-body">
                <h2>Szczegóły pracownika</h2>
            </div>
        </div>
        <!-- Jumbotron -->
        <div class="jumbotron text-center col-md-6 my-3 mx-auto">
            <!-- Title -->
            <h2 class="card-title h2">({{ lista.id }}) {{ lista.imie }} {{ lista.nazwisko }}</h2>
            Zestawienie za {{ lista.okres }} {{ lista.rok }} roku
            <!-- Subtitle -->
            {% if lista.prezwaga == 2 %}
                <p class="note note-danger"><strong>Bilans ujemny:</strong>
                    Przewaga przepustek. Do odpracowania pozostało: {{ lista.ile_prezwaga }}
                </p>
            {% elif lista.prezwaga == 1 %}
                <p class="note note-warning"><strong>Bilans dodatni:</strong>
                    Przewaga czasu nadpracowanego. Czas nadliczbowy to: {{ lista.ile_prezwaga }}
                </p>
            {% elif lista.prezwaga == 0 %}
                <p class="note note-success"><strong>Bilans zrównoważony :</strong>
                    Wszystkie przepustki zostały odpracowane.
                </p>
            {% endif %}

            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
            <!-- Grid column -->
                <div class="col-xl-7 pb-2"><br />
                    <p class="card-text">
                        Ilość wszystkich wpisów: {{ lista.przepustek }}<br />
                        <hr width="50%"/>
                        Ilość prywatnych wyjść: {{ lista.wyjscia_prywatne }}<br />
                        <hr width="50%"/>
                        Ilość odpracowań: {{ lista.odpracowania }}<br />
                        <hr width="50%"/>
                        Ilość służbowych wyjść: {{ lista.sluzbowe }}<br />
                        <hr width="50%"/><br />
                        Czas przepustek prywatnych: {{ lista.czas_przepustek }}<br />
                        <hr width="50%"/>
                        Czas odpracowań: {{ lista.czas_odpracowanych }}<br />
                        <hr width="50%"/>
                        Czas przepustek służbowych: {{ lista.czas_sluzbowych }}<br />
                        <hr width="50%"/>
                    </p>
                </div>
            <!-- Grid column -->
            </div>

        </div>
        <!-- Jumbotron -->
        <div class="card col-md-12 my-3 mx-auto">
            <table id="dtWpisyPrzyszle" class="table table-striped table-hover table-sm table-borderless" cellspacing="0" width="100%">
                <thead class="black white-text">
                    <tr>
                        <th class="th-sm" width="5%">#</th>
                        <th class="th-sm">Wystawiona dla... </th>
                        <th class="th-sm" width="15%">Data od / Godzina od</th>
                        <th class="th-sm" width="15%">Data do / Godzina do</th>
                        <th class="th-sm" width="15%">Rodzaj</th>
                        <th class="th-sm" width="10%">Dodane przez</th>
                        <th class="th-sm" width="15%">Data dodania</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wpis in wpisy %}
                    <tr>
                        <th scope="row">{{ wpis.id }}</th>
                        <td>{{ wpis.pracownik }}</td>
                        <td>{{ wpis.data_wyjscia }} {{ wpis.godzina_wyjscia }}</td>
                        <td>{{ wpis.data_przyjscia }} {{ wpis.godzina_przyjscia }}</td>
                        <td>{{ wpis.rodzaj_wpisu }}</td>
                        <td>{{ wpis.autor_wpisu }}</td>
                        <td>{{ wpis.data_dodania }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="black white-text">
                    <tr>
                        <th class="th-sm">#</th>
                        <th class="th-sm">Wystawiona dla... </th>
                        <th class="th-sm">Data od / Godzina od</th>
                        <th class="th-sm">Data do / Godzina do</th>
                        <th class="th-sm">Rodzaj</th>
                        <th class="th-sm">Dodane przez</th>
                        <th class="th-sm">Data dodania</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock content %}